<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuegao.springmybatis.business.demo.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.xuegao.springmybatis.business.demo.model.doo.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <!--        <result column="password" jdbcType="VARCHAR" property="password"/>-->
    </resultMap>

    <sql id="BaseTable">
        user_info
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select id,
        username
        from
        <include refid="BaseTable"/>
        limit 200
    </select>
</mapper>